
#page-wrapper {
  position: inherit;
  margin: 0 0 0 1px;
  padding: 0 0px;
}

.maintitle {
  border-bottom: 2px solid #208fc8;
  min-height: 37px;
  margin-bottom: 22px;
}

  .maintitle h3 {
    margin: 0;
    padding: 4px 100px 10px 0;
    font-family: "Segoe UI",'SegoeUINormal', arial;
    font-size: 20px;
    color: #333;
    line-height: 1;
  }
.example-container{
  font-size: 13px !important;
}
.control-label {
  text-align: left !important;
  font-family: "Segoe UI", arial, tahoma !important;
  font-size: 13px;
  padding-top: 0px !important;
}
#close-icon {
  float: right;
  margin-left: auto;
  font-size: 15px;
  font-weight: bolder;
}

  #close-icon:hover {
    cursor: pointer !important;
  }


label {
  color: #333;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 7px;
  padding-right: 0 !important;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 4px 6px;
  font-size: 13px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dddddd;
  border-radius: 0px;
}

#def {
  height: auto !important;
}

.theme-btn {
  background: #208fc8;
  border: 1px solid #208fc8;
  color: white;
}

.btn {
  float: right;
  display: inline-block;
  padding: 2px 3px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#btnspace {
  margin-left: 10px;
}
.assignbtnAlign{
  float:left;
}
#btnCancel {
  margin-left: 10px;
}

.btn-default {
  background-color: #e1e1e1;
  border-color: #e1e1e1;
  color: #494949 !important;
}

  .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    color: #494949 !important;
    background-color: #cfcfcf;
    border-color: #cfcfcf;
  }

.theme-btn:hover {
  background-color: #1080b9 !important;
  border: 1px solid #1080b9;
}

.spaceRadio {
  padding-right: 30px !important;
}

#dialogueClose {
  position: relative;
  top: 0;
  text-align: right;
  right: 0;
  margin-left: 525px;
  margin-top: -7px;
  padding-bottom: -23px;
  margin-bottom: -25px;
  line-height: 14px;
  background-color: transparent;
}

.closeStyle {
  font-size: 18px;
}

.linkstyle {
  cursor: pointer;
  color: #208fc8;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 3px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.assignHead {
  background-color: #f9f9f9 !important;
}
